<div class="container row">


  {{#each mostrarcandidatos}}
    <div class="col-6 text-center card">
      <div class="card-img-top"></div>
      <img class="imagenCandidatos" src="{{imagencanditato}}" alt="" />
      <div class="card-body">
        <h1> {{nombrePartido}} </h1>
       
        
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: {{porcentajevotos}}%"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          >{{porcentajevotos}}%</div>
        </div>

      </div>
    </div>
  {{/each}}

</div>