

<div class="container jumbotron mt-4 text-center contenedorIndex">
  <h1>Bienvenidos a Elecciones</h1>
  <h2>Es una app que te permite votar a tu partido favorito, en una eleccion, despues podras ver reflejado los resultado en la seccion estadisticas</h2>
  <a href="/login" class="btn btn-primary  ">votar</a>
</div>
  
