<form action="/login/add" method="POST" class="container ">
  <h2>nombre completo</h2>
  <input type="text" name="nombre" />
  <h2>DNI</h2>
  <input type="text" name="dni" />

  
  <select type="text" name="sexo" class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option  value="masculino">hombre</option>
    <option  value="femenino">femenino</option>
    <option  value="otro">otro</option>
  </select>

  <br />
  <button>
    entrar
  </button>
</form>